* {
  padding: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  background-color: #1d2d3c;
} */

.title {
  font-size: 2rem;
  color: lightpink;
  text-align: center;
  margin: 30px 0;
}

.container {
  width: 70%;
  margin: auto;
}

.row {
  display: flex;
}

.card {
  width: calc(100% / 3 - 40px);
  margin: 25px 20px;
  background-color: lightpink;
  color: black;
  border-radius: 6px;
}
